<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<ol>
 <strong>Tweets (<%= @user.tweets.count %>):</strong>
 <% @user.tweets.each do |tweet| %>
   <li>Message: <%= tweet.message %> </li>
 <% end %>
</ol>

<%= link_to 'Destroy', tweet_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
