<div class="container">
  <% if signed_in? %>
  <h3>Hello <%=link_to current_user.username, user_path(current_user.id) %>!</h3>
  <%end %>
  <p>See what’s happening right now.</p>

  <section>
  <%= hidden_field_tag :current_user_id, @user_id %>

  </section>

  <section class="tweets">
    <% if signed_in? %>
      <div id= 'new-tweet-form', class='tweets' data-remote='true'>
        <%= form_tag '/tweet', remote:true, class:"tweets", id:"new-tweet-form", method: :POST do %>
        <%= text_field_tag :message, nil, class: "tweet-form", placeholder: "What are you thinking?", autofocus: true %>
        <%= submit_tag "Share", class: "btn btn-default", id:"show-new-tweet" %>
        <% end %>
      </div>
      <% end %>
  </section>

    <hr />
    <div id='tweet-storage'>
    <%= render :partial => @tweets %>
    </div>
  </section>
</section>

</div>
